.div_titulo_campos_gerais{

width: 100%;
font-size: 22px;
font-weight: bold;
color: #000000;

margin-top: 15px;
margin-bottom: 25px;
padding-bottom: 10px;

border-bottom-color: #66b7df;
border-bottom-width: 1px;
border-bottom-style: solid;

}









